
<div style="height:20%" id="dashboardDetailsDiv">

<!-- CARD 1 -->
<div class= "card cusCardStyle">

<!--begin:: Widgets/Top Products-->
<div class="m-portlet">
		<div class="m-portlet__body m-portlet__body--no-padding">
			<div class="row m-row--no-padding m-row--col-separator-xl">
				<div class="col-md-12 col-lg-12 col-xl-4">
					<!--begin:: Widgets/Stats2-1 -->
					<div class="m-widget1">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Target Achieved
									</h3>
									<span class="m-widget1__desc">
									Sales closed till today
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-brand">
										35,56,000
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Days Remaining
									</h3>
									<span class="m-widget1__desc">
										To acheive target
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-danger">
										16
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Percentage Remaining
									</h3>
									<span class="m-widget1__desc">
										To acheive target
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-success">
										42%
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--end:: Widgets/Stats2-1 -->
				</div>
				<div class="col-md-12 col-lg-12 col-xl-4">
					<!--begin:: Widgets/Stats2-2 -->
					<div class="m-widget1">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Prospects Created
									</h3>
									<span class="m-widget1__desc">
										No. of leads recieved
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-accent">
										432
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
                    Prospects Assigned
									</h3>
									<span class="m-widget1__desc">
										to team members
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-info">
										416
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Prospects Reached
									</h3>
									<span class="m-widget1__desc">
									Prospects in pipeline
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-warning">
										318
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--begin:: Widgets/Stats2-2 -->
				</div>
				<div class="col-md-12 col-lg-12 col-xl-4">
					<!--begin:: Widgets/Stats2-3 -->
					<div class="m-widget1">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										File Processing
									</h3>
									<span class="m-widget1__desc">
										Deal value
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-success">
										12,34,500
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Follow up
									</h3>
									<span class="m-widget1__desc">
										Deal Value
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-danger">
										23,45,670
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
									Lost Sales	
									</h3>
									<span class="m-widget1__desc">
									Deal value
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-primary">
									  9,07,800
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--begin:: Widgets/Stats2-3 -->
				</div>
			</div>
		</div>
	</div>  
  <!-- <h3 style="margin:15px 0 0 15px">Target Achieved</h3>
  <h4 style="margin:15px 0 0 15px">Rs. {{targetRs}}</h4>
  
  <div class="progress-info">
    <div class="progress">
        <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
            <span class="sr-only">76% progress</span>
        </span>
      </div> 
  </div>
  
  <div class="achievedStatus">
    <div class="status-number"> 76% </div>
    <div class="progress" style="height: 0.5rem;">
      <span style="width: 76%;background:deeppink !important" class="progress-bar progress-bar-success green-sharp">
          <span class="sr-only">76% progress</span>
      </span>
  </div>
  
    <div class="status-title"> Achieved </div>
  </div>
  
  <div class="remStatus">
    <div class="status-number"> 24 </div>
  
    <div class="progress" style="height: 0.5rem;">
      <span style="width:24%;" class="progress-bar progress-bar-success green-sharp">
          <span class="sr-only">24% progress</span>
      </span>
  </div>
  
    <div class="status-title"> Days Remaining </div>
  </div> -->
  </div>
  <!-- END CARD 1 -->

  <!-- CARD 2 -->
  <!-- <div class= "card cusCardStyle2">
<div class="m-portlet m-portlet--bordered-semi">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Sales Performance
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-widget4"> -->
      <!-- <div class="m-widget4__chart m-portlet-fit--sides m--margin-top-10 m--margin-top-20" style="height:260px;">
        <canvas id="m_chart_trends_stats"></canvas>
      </div> 
      <div class="m-widget4__item">
        <div class="m-widget4__img m-widget4__img--logo">
          <img src="./assets/images/logo3.png" alt="">
        </div>
        <div class="m-widget4__info">
          <span class="m-widget4__title">
            Contacts Created
          </span>
          <br>
          <span class="m-widget4__sub">
            25%
          </span>
        </div>
        <span class="m-widget4__ext">
          <span class="m-widget4__number m--font-danger">
            $17,654
          </span>
        </span>
      </div>
      <div class="m-widget4__item">
        <div class="m-widget4__img m-widget4__img--logo">
          <img src="./assets/images/logo1.png" alt="">
        </div>
        <div class="m-widget4__info">
          <span class="m-widget4__title">
            Contacts Approved
          </span>
          <br>
          <span class="m-widget4__sub">
            15%
          </span>
        </div>
        <span class="m-widget4__ext">
          <span class="m-widget4__number m--font-danger">
            $10,654
          </span>
        </span>
      </div>
      <div class="m-widget4__item">
        <div class="m-widget4__img m-widget4__img--logo">
          <img src="./assets/images/logo2.png" alt="">
        </div>
        <div class="m-widget4__info">
          <span class="m-widget4__title">
           Contacts Worked
          </span>
          <br>
          <span class="m-widget4__sub">
            69%
          </span>
        </div>
        <span class="m-widget4__ext">
          <span class="m-widget4__number m--font-danger">
            $67,098
          </span>
        </span>
      </div>
    </div>
 </div>
</div>
</div>  -->

  <!-- END CARD 2 -->



  <!-- CARD 3-->
  <div class= "card cusCardStyle3">
  <div class="m-section m-section--last">
    <h3 class="m-section__heading">
      Deal Forecast
    </h3>
    <span class="m-section__sub">
      $29,882.80
    </span>
    <div class="m-section__content">
      <div class="progress" id="progressCusStyle">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- <div class="m--space-10"></div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div> -->
    </div>
  </div>
</div>
  <!--END CARD 3-->
  
<!-- CARD 4 -->
<div class= "card cusCardStyle4">
<div class="m-portlet">
  <div class="m-portlet__body  m-portlet__body--no-padding">
    <div class="row m-row--no-padding m-row--col-separator-xl">
      <div class="col-md-12 col-lg-6 col-xl-3">
        <!--begin::Total Profit-->
        <div class="m-widget24">
          <div class="m-widget24__item">
            <h4 class="m-widget24__title">
              Total Frofit
            </h4>
            <br>
            <span class="m-widget24__desc">
              All Customs Value
            </span>
            <span class="m-widget24__stats m--font-brand">
              $18M
            </span>
            <div class="m--space-10"></div>
            <div class="progress m-progress--sm">
              <div class="progress-bar m--bg-brand" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="m-widget24__change">
              Change
            </span>
            <span class="m-widget24__number">
              78%
            </span>
          </div>
        </div>
        <!--end::Total Profit-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <!--begin::New Feedbacks-->
        <div class="m-widget24">
          <div class="m-widget24__item">
            <h4 class="m-widget24__title">
              New Feedbacks
            </h4>
            <br>
            <span class="m-widget24__desc">
              Customer Review
            </span>
            <span class="m-widget24__stats m--font-info">
              1349
            </span>
            <div class="m--space-10"></div>
            <div class="progress m-progress--sm">
              <div class="progress-bar m--bg-info" role="progressbar" style="width: 84%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="m-widget24__change">
              Change
            </span>
            <span class="m-widget24__number">
              84%
            </span>
          </div>
        </div>
        <!--end::New Feedbacks-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <!--begin::New Orders-->
        <div class="m-widget24">
          <div class="m-widget24__item">
            <h4 class="m-widget24__title">
              New Orders
            </h4>
            <br>
            <span class="m-widget24__desc">
              Fresh Order Amount
            </span>
            <span class="m-widget24__stats m--font-danger">
              567
            </span>
            <div class="m--space-10"></div>
            <div class="progress m-progress--sm">
              <div class="progress-bar m--bg-danger" role="progressbar" style="width: 69%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="m-widget24__change">
              Change
            </span>
            <span class="m-widget24__number">
              69%
            </span>
          </div>
        </div>
        <!--end::New Orders-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <!--begin::New Users-->
        <div class="m-widget24">
          <div class="m-widget24__item">
            <h4 class="m-widget24__title">
              New Users
            </h4>
            <br>
            <span class="m-widget24__desc">
              Joined New User
            </span>
            <span class="m-widget24__stats m--font-success">
              276
            </span>
            <div class="m--space-10"></div>
            <div class="progress m-progress--sm">
              <div class="progress-bar m--bg-success" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="m-widget24__change">
              Change
            </span>
            <span class="m-widget24__number">
              90%
            </span>
          </div>
        </div>
        <!--end::New Users-->
      </div>
    </div>
  </div>
</div>
</div>
<!-- END CARD4 -->




  <!--CARD 5-->
  <div class="card cusCardStyle5">
  <div class="m-portlet m-portlet--tab">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon m--hide">
            <i class="la la-gear"></i>
          </span>
          <h3 class="m-portlet__head-text">
            Deals Closed vs Goal
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div id="m_flotcharts_2" style="height: 300px;"></div>
    </div>
  </div>
</div>
  <!-- END CARD5 -->

  <!-- CARD 6 -->
  <div class="card cusCardStyle6">
  
    <div class="m-portlet ">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Recent Activities
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
              <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
                <i class="la la-ellipsis-h m--font-brand"></i>
              </a>
              <div class="m-dropdown__wrapper">
                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                      <ul class="m-nav">
                        <li class="m-nav__section m-nav__section--first">
                          <span class="m-nav__section-text">
                            Quick Actions
                          </span>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-share"></i>
                            <span class="m-nav__link-text">
                              Activity
                            </span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                            <span class="m-nav__link-text">
                              Messages
                            </span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-info"></i>
                            <span class="m-nav__link-text">
                              FAQ
                            </span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                            <span class="m-nav__link-text">
                              Support
                            </span>
                          </a>
                        </li>
                        <li class="m-nav__separator m-nav__separator--fit"></li>
                        <li class="m-nav__item">
                          <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                            Cancel
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide" data-scrollbar-shown="true" data-scrollable="true" data-max-height="380" style="overflow: visible; height: 380px; max-height: 380px; position: relative;">
          <!--Begin::Timeline 2 -->
          <div class="m-timeline-2">
            <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
              <div class="m-timeline-2__item">
                <span class="m-timeline-2__item-time">
                  10:00
                </span>
                <div class="m-timeline-2__item-cricle">
                  <i class="fa fa-genderless m--font-danger"></i>
                </div>
                <div class="m-timeline-2__item-text  m--padding-top-5">
                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                  <br>
                  incididunt ut labore et dolore magna
                </div>
              </div>
              <div class="m-timeline-2__item m--margin-top-30">
                <span class="m-timeline-2__item-time">
                  12:45
                </span>
                <div class="m-timeline-2__item-cricle">
                  <i class="fa fa-genderless m--font-success"></i>
                </div>
                <div class="m-timeline-2__item-text m-timeline-2__item-text--bold">
                  AEOL Meeting With
                </div>
                <div class="m-list-pics m-list-pics--sm m--padding-left-20">
                  <a href="#">
                    <img src="assets/app/media/img/users/100_4.jpg" title="">
                  </a>
                  <a href="#">
                    <img src="assets/app/media/img/users/100_13.jpg" title="">
                  </a>
                  <a href="#">
                    <img src="assets/app/media/img/users/100_11.jpg" title="">
                  </a>
                  <a href="#">
                    <img src="assets/app/media/img/users/100_14.jpg" title="">
                  </a>
                </div>
              </div>
              <div class="m-timeline-2__item m--margin-top-30">
                <span class="m-timeline-2__item-time">
                  14:00
                </span>
                <div class="m-timeline-2__item-cricle">
                  <i class="fa fa-genderless m--font-brand"></i>
                </div>
                <div class="m-timeline-2__item-text m--padding-top-5">
                  Make Deposit
                  <a href="#" class="m-link m-link--brand m--font-bolder">
                    USD 700
                  </a>
                  To ESL.
                </div>
              </div>
              <div class="m-timeline-2__item m--margin-top-30">
                <span class="m-timeline-2__item-time">
                  16:00
                </span>
                <div class="m-timeline-2__item-cricle">
                  <i class="fa fa-genderless m--font-warning"></i>
                </div>
                <div class="m-timeline-2__item-text m--padding-top-5">
                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                  <br>
                  incididunt ut labore et dolore magna elit enim at minim
                  <br>
                  veniam quis nostrud
                </div>
              </div>
              <div class="m-timeline-2__item m--margin-top-30">
                <span class="m-timeline-2__item-time">
                  17:00
                </span>
                <div class="m-timeline-2__item-cricle">
                  <i class="fa fa-genderless m--font-info"></i>
                </div>
                <div class="m-timeline-2__item-text m--padding-top-5">
                  Placed a new order in
                  <a href="#" class="m-link m-link--brand m--font-bolder">
                    SIGNATURE MOBILE
                  </a>
                  marketplace.
                </div>
              </div>
              <div class="m-timeline-2__item m--margin-top-30">
                <span class="m-timeline-2__item-time">
                  16:00
                </span>
                <div class="m-timeline-2__item-cricle">
                  <i class="fa fa-genderless m--font-brand"></i>
                </div>
                <div class="m-timeline-2__item-text m--padding-top-5">
                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                  <br>
                  incididunt ut labore et dolore magna elit enim at minim
                  <br>
                  veniam quis nostrud
                </div>
              </div>
              <div class="m-timeline-2__item m--margin-top-30">
                <span class="m-timeline-2__item-time">
                  17:00
                </span>
                <div class="m-timeline-2__item-cricle">
                  <i class="fa fa-genderless m--font-danger"></i>
                </div>
                <div class="m-timeline-2__item-text m--padding-top-5">
                  Received a new feedback on
                  <a href="#" class="m-link m-link--brand m--font-bolder">
                    FinancePro App
                  </a>
                  product.
                </div>
              </div>
            </div>
          </div>
          <!--End::Timeline 2 -->
        </div>
      </div>
    </div>
  </div>
  <!-- END CARD 6 -->
</div>


