.cusCardStyle2{
    margin: -45.5em 2em 0 44em !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    height: 20% !important;
    width: 24% !important;
}

.cusCardStyle3{
    width: 75%;
    position: relative;
    left: 23em;
    border: none !important;
}

#progressCusStyle{
    height: 3rem;
}

.cusCardStyle4{
    width: 75%;
    left: 23em;
    top: 2.5em
}

.cusCardStyle5{
    width: 37%;
    /* position: relative; */
    left: 23em;
    top: 4.5em;
}


.cusCardStyle6{
    top: -30.3em;
    left: 62em;
    width: 37.5%;
}