
<div id="dashboardDetailsDiv">
  <!-- <p style="margin:-33em 0px 0em 21em">
  dashboard-details works!
</p> -->

<div class= "card cusCardStyle">
  <h3 style="margin:15px 0 0 15px">Target Achieved</h3>
  <h4 style="margin:15px 0 0 15px">Rs. {{targetRs}}</h4>
  
  <div class="progress-info">
    <div class="progress">
        <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
            <span class="sr-only">76% progress</span>
        </span>
    </div>
   
  
  
  </div>
  
  <div class="achievedStatus">
   
    <div class="status-number"> 76% </div>
  
    <div class="progress" style="height: 0.5rem;">
      <span style="width: 76%;background:deeppink !important" class="progress-bar progress-bar-success green-sharp">
          <span class="sr-only">76% progress</span>
      </span>
  </div>
  
    <div class="status-title"> Achieved </div>
  </div>
  
  <div class="remStatus">
    <div class="status-number"> 24 </div>
  
    <div class="progress" style="height: 0.5rem;">
      <span style="width:24%;" class="progress-bar progress-bar-success green-sharp">
          <span class="sr-only">24% progress</span>
      </span>
  </div>
  
    <div class="status-title"> Days Remaining </div>
  </div>
  
  
  </div>
</div>
