<!-- <app-deal-prospects></app-deal-prospects> -->
<!-- 
<mat-grid-list cols="1" rowHeight="450px">
        <mat-grid-tile>
            <!-- <ngxdatagrid [rows]="dataArray" [columns]="cols" [gridHeight]="400" [headerRowHeight]="30" [rowHeight]="30" [gridWidth]="900"></ngxdatagrid> 
        </mat-grid-tile>
    </mat-grid-list> -->


    <div class="m-portlet cusPortlet">
            <!-- <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Bold Line Tabs
                        </h3>
                    </div>
                </div>
            </div> -->
            <div class="m-portlet__body">
                <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                            Select lead
                        </a>
                    </li>

                    <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                                Select Agent
                            </a>
                        </li>

                    <!-- <li class="nav-item dropdown m-tabs__item">
                        <a class="nav-link m-tabs__link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Select Agent
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" data-toggle="tab" href="#m_tabs_6_2">
                                Action
                            </a>
                            <a class="dropdown-item" data-toggle="tab" href="#m_tabs_6_2">
                                Another action
                            </a>
                            <a class="dropdown-item" data-toggle="tab" href="#m_tabs_6_2">
                                Something else here
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-toggle="tab" href="#m_tabs_6_2">
                                Separated link
                            </a>
                        </div>
                    </li> -->
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                            Schedule
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
                            <mat-grid-list cols="1" rowHeight="450px">
                                    <mat-grid-tile>
                            <ngxdatagrid (selectedData)="getSelectedLeadRows($event)" [selectionType]="'multiple'" [rows]="leadRows" [columns]="leadColumns" [gridHeight]="300" [headerRowHeight]="30" [rowHeight]="30" [gridWidth]="350"></ngxdatagrid> 
                            </mat-grid-tile>
                            </mat-grid-list>
                    </div>
                    <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                            <ngxdatagrid (selectedData)="getSelectedAgent($event)" [selectionType]="'single'" [rows]="agentRows" [columns]="agentColumns" [gridHeight]="300" [headerRowHeight]="30" [rowHeight]="30" [gridWidth]="350"></ngxdatagrid> 
                       
                    </div>
                    <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                    </div>
                </div>
            </div>
        </div>

        <div class="mapDisCss">
                <iframe  class="iFrameStyl" src="https://dashboard.hypertrack.com/widget/actions;lookup_id=tracker0001?key=sk_test_f54037366bdecc5aa7896788bbdc36191715e82e" width="500" height="500">
                </iframe>
        </div>