<div>
    <div class='wrapper'>
        
      <div class='container eachContainerCss' [dragula]='"another-bag"' [dragulaModel]="meetingRequest">
          <header>MEETING REQUEST</header>
        <div class='itemClass' *ngFor="let item of meetingRequest">
            <h5 [innerHtml]='item.heading'></h5>
            <p [innerHtml]='item.closedDate'></p>
        </div>
      </div>
      
      
      <div class='container eachContainerCss' [dragula]='"another-bag"' [dragulaModel]="scheduledAppointments">
          <header>MEETING REQUEST</header>
        <div class='itemClass' *ngFor="let item of scheduledAppointments">
          <h5 [innerHtml]='item.heading'></h5>
          <p [innerHtml]='item.closedDate'></p>
        
        </div>
      </div>
      <div class='container eachContainerCss' [dragula]='"another-bag"' [dragulaModel]="qualifyData">
        <div class='itemClass' *ngFor="let item of qualifyData">
          <h5 [innerHtml]='item.heading'></h5>
          <p [innerHtml]='item.closedDate'></p>
        
        </div>
      </div>
      <div class='container eachContainerCss' [dragula]='"another-bag"' [dragulaModel]="propsalsData">
        <div class='itemClass' *ngFor="let item of propsalsData">
          <h5 [innerHtml]='item.heading'></h5>
          <p [innerHtml]='item.closedDate'></p>
        
        </div>
      </div>
      <div class='container eachContainerCss' [dragula]='"another-bag"' [dragulaModel]="negotiationsData">
        <div class='itemClass' *ngFor="let item of negotiationsData">
          <h5 [innerHtml]='item.heading'></h5>
          <p [innerHtml]='item.closedDate'></p>
        
        </div>
      </div>
    </div>
  </div>
  
  
  

