.headerCss{
    position: relative;
    bottom: 48em;
    left: 22em;
}


.headerCss1{
    position: relative;
    bottom:em;
    left: 22em;
}

.cusMrgn{
    margin-left: 20px;
    /* cursor: not-allowed; */
}
